body {
  background-color: #34495e;
  color: #2ecc71;
  transition: color 0.5s ease-in-out;
  text-align: center;
  font-family: bmjua;
}

ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  color: #f1c40f;
}

button {
  font-size: 0.5em;
  border-radius: 1em;
  border: 2px solid #e74c3c;
  background-color: #e74c3c;
  transition-duration: 0.4s;
}

button:hover {
  border: 2px solid #e74c3c;
  background-color: #e7973c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "bmjua";
  src: url("font/bmjua.ttf") format("truetype");
}

.js-clock {
  font-size: 3.5em;
}

.btn {
}

.clicked {
  color: #8e44ad;
}

.form,
.gretting {
  display: none;
}

.js-form-input {
  font-family: bmjua;
  color: white;
  width: 10em;
  height: 2em;
  font-size: 0.5em;
  text-align: center;
  background-color: #3498db;
  border: 1px solid #2980b9;
  border-radius: 20px;
}

.js-form-input:focus {
  outline: none;
}

.js-gretting-input {
  font-family: bmjua;
  color: white;
  width: 10em;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
  background-color: #e67e22;
  border: 1px solid #d35400;
  border-radius: 20px;
}

.js-gretting-input::placeholder {
  color: white;
  transition-duration: 0.4s;
}

.js-gretting-input:hover::placeholder {
  color: #d35400;
}

.js-gretting-input:focus {
  outline: none;
}

.showing {
  display: block;
  font-size: 3em;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: fadeIn 0.5s linear;
}

.bgCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 40%;
}

.js-weather {
  font-size: 2em;
  color: #3498db;
  text-align: left;
}
